* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #f9f4f4;
  height: 100%;
  letter-spacing: 2px;
}

nav {
  margin: 20px 20px 15px 20px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100px;
  width: auto;
  padding: 8px;
  z-index: 9;
  margin-top: 3px;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggle {
  z-index: 1;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.navbar-inverse {
	background-image: /*url(../images/nav-bg-img.jpg)*/none;
	background: rgba(0, 0, 0, .8);
  border-radius: 0;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;

}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #f9f9f9;
  background: #e3973a;
  transition: .30s ease-in;
}

.img-thumbnail {
  width: 400px;
  height: 350px;
}

.section-separator { /*The dotted lines before another section*/
  border-bottom: 2px dotted rgb(172,172,172);
  margin: 20px;
}



.newest-blog {
  text-align: center;
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
  background-color: rgb(183, 189, 193);
  margin: 50px;
  color: #232222;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 12px;
 }

.author-image {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-left: 15px;
}

a.fa.fa-facebook-square.fa-lg::before {
  color: #4267b2;
  font-size: 30px;
}

a.fa.fa-twitter-square.fa-lg::before {
  color: #1da1f2;
  font-size: 30px;
}

a.fa-google-plus-square.fa-lg::before {
  color: #d34836;
  font-size: 30px;
}

a.fa.fa-github-square.fa-lg::before {
  color: black;
  font-size: 30px;
}


a.fa.fa-facebook-square.fa-lg:hover {
  text-decoration: none;
} 

a.fa.fa-twitter-square.fa-lg:hover {
  text-decoration: none;
} 

a.fa.fa-google-plus-square.fa-lg:hover {
  text-decoration: none;
} 

a.fa.fa-github-square.fa-lg:hover {
  text-decoration: none;
} 

a.list-group-item {
  border: none;
}



.sub-footer {
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}

ul.list-inline {
  margin: 20px;
}

.about {
  font-weight: 500;
  color: #333;
  text-decoration: underline;
}

.about:hover {
  color: #de9437;
  font-weight: 600;
  transition: .20s ease-in;
  text-decoration: none;
}

.footer-container {
  background-color: #262626;
  color: #8d8e8d;
  padding: 40px;
  font-size: 11px;
}

.image-banner {
  margin-bottom: 30px;
}

.btn {
  background-color: rgba(29,119,93,.7);
  color: white;
}

.arc-month {
  font-size: 20px;
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
  background-color: rgba(29,119,93,.7);
  margin: 20px;
  color: black;
}

li.arc-month > a {
  color: white;
}



header {
  height: 85%;
  margin-bottom: 10px;
}

.item {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#image1 {
    background-image:url('../images/lost-found-search.jpg');
}


.intro {
  color: black;
  font-size: 16px;
  text-align: center;
}

div.gallery {
  margin: 8px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.galleryContainer {
  margin: auto;
  width: 70%;
  height: auto;
  /*padding: 10px;*/
}

.more-container {
  text-align: center;
  margin: auto;
}
.more {
  display: inline-block;
}

.more a {
  color: #333533;
  text-decoration: underline;
}

.more a:hover {
  transition: .15s ease-in;
  color: #de9437;
  font-weight: 600;
  text-decoration: none;

}

